[Unit]
Description=Video player

[Service]
User=flammenmeer
Type=simple
WorkingDirectory=/home/flammenmeer/RtpMidiVideoPlayer/
ExecStart=/home/flammenmeer/.local/bin/pipenv run python main.py ../nextcloud/Live-Beamer/playlist.xspf
Restart=on-failure

[Install]
WantedBy=default.target
