[Unit]
Description=Nextcloud Client
Wants=network-online.target
After=network.target network-online.target

[Service]
User=flammenmeer
Type=simple
ExecStart=/usr/bin/nextcloudcmd -u "BandBeamer" -p "..." /home/flammenmeer/nextcloud https://cloud.flammenmeer.band
ExecStartPost=/usr/bin/sleep 5
KillMode=process
Restart=on-failure

[Install]
WantedBy=default.target
