[Unit]
Description=Video player
After=getty.target
Conflicts=getty@tty1.service

[Service]
User=flammenmeer
Type=simple
Environment="XDG_RUNTIME_DIR=/run/user/1000"
WorkingDirectory=/home/flammenmeer/RtpMidiVideoPlayer/
ExecStart=/home/flammenmeer/.local/bin/pipenv run python main.py ../nextcloud/Live-Beamer/playlist.m3u
Restart=on-failure
# https://unix.stackexchange.com/a/265075
RemainAfterExit=yes
StandardInput=tty-force
StandardOutput=inherit
StandardError=inherit

[Install]
WantedBy=default.target